<#@ template language="C#" hostspecific="true" #>
<#@ output extension=".g.cs" encoding="utf-8" #>
<#@ include file="NameFunctions.ttinclude" #>
<# GenerateClass("FamilyNames", Host.ResolvePath("Data/family-names.csv")); #>
